<a href="https://colab.research.google.com/github/lawish/EDA_Team_notebook/blob/main/Self_EDA_notebook_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

##1.Play store data (main dataset)
This contains data on the Google Play applications. It has 10,841 rows of data witch has following columns:

App Category: Category of the app. This could be beauty, business, medical,art and design entertainment, education...etc.

Rating: It has How users rate the app out of 5, with 1 being the lowest rating and 5 being the highest.

Reviews: number of user reviews each app has received.

Size: The memory size needed to install the application.

Installs: The number of times each application has been installed by users.

Type: Whether the app is free or a paid app.

Price: The price of the app.

Content Rating: This column specifies the intended audience for the app. Can be for teens, mature audience, or everyone.

Genres: The sub-category for each app. Example: for the Education category, this could be Education: Pretend Play, for example.

Last Updated: Release date of the most recent update for the app.

Current Ver: The app's current version.

Android Ver: The oldest version of Android OS supported by the app.

##2.Sentiment Analysis
This file contains the result of the sentiment analysis conducted by the dataset creator. It has 64,295 rows of data with the following columns:

App : Name of the app.

Translated_Review: Either the original review in English, or a translated version if the orignal review is in another language.

Sentiment: The result of the sentiment analysis conducted on a review. The value is either Positive, Neutral or Negative.

Sentiment_Polarity: A value indicating the positivity or negativity of the sentiment, values range from -1 (most negative) to 1 (most positive). Sentiment polarity for an element defines the orientation of the expressed sentiment, i.e. it determines if the text expresses the positive, negative or neutral sentiment of the user about the entity in consideration.

Sentiment_Subjectivity: A value from 0 to 1 indicating the subjectivity of the review. Lower values indicate the review is based on factual information, and higher values indicate the review is based on personal or public opinions or judgements.

##**Importing Data and Modules**

In [1]:
# Importing data analysis and visualization libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
# mounting google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# reading csv file
playstore_df = pd.read_csv('/content/drive/MyDrive/Almabetter/self project/capstone project/Play Store App Review Analysis/Play Store Data.csv')

In [4]:
# Printing fist five rows and all columns in dataFrame.
playstore_df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [5]:
playstore_df.shape

(10841, 13)

###There are 10841 rows and 13 coulmns in our dataset

#1.Data Cleaning for playstore Data

In [6]:
# cheking data type's of features present in our dataset.
playstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [7]:
# created copy of our dataset
playstore_df_new = playstore_df.copy()

In [17]:
# created function to convert all MB and Kb in 'size' coulmn to int
def covert_str_(value):
  if value[-1:] == 'k':
    return float(value[:-1])*1000
  elif value[-1:] == 'M':
    return float(value[:-1])*100000
  else:
    return value[:]

In [18]:
playstore_df_new['Size'] = playstore_df_new['Size'].map(lambda x: covert_str_(x))

In [19]:
playstore_df_new['Size'] = playstore_df_new.Size.replace('Varies with device', np.NaN)

In [20]:
# null values generated in Size coulmn
playstore_df_new['Size'].isnull().sum()

1695

In [21]:
# converted object data type of Size coulmn to  numeric
playstore_df_new['Size'] = pd.to_numeric(playstore_df_new['Size'])

In [ ]:
playstore_df_new.dropna(subset=['Size'], inplace=True) # dropped null values of Size coulmn

In [22]:
# removing '+' and ',' prersent in Installs coulmn
playstore_df_new['Installs']= playstore_df_new['Installs'].apply(lambda x: str(x).replace('+','') if '+' in str(x) else str(x))
playstore_df_new['Installs']= playstore_df_new['Installs'].apply(lambda x: str(x).replace(',','') if ',' in str(x) else str(x))

In [23]:
# converted Installs coulmn data type from string to integer
playstore_df_new['Installs'] = playstore_df_new['Installs'].astype('int')

In [ ]:
playstore_df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9145 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9145 non-null   object
 1   Category        9145 non-null   object
 2   Rating          9145 non-null   float64
 3   Reviews         9145 non-null   Int64
 4   Size            9145 non-null   float64
 5   Installs        9145 non-null   int64
 6   Type            9145 non-null   object
 7   Price           9145 non-null   float64
 8   Content Rating  9145 non-null   object
 9   Genres          9145 non-null   object
 10  Last Updated    9145 non-null   object
 11  Current Ver     9137 non-null   object
 12  Android Ver     9143 non-null   object
dtypes: Int64(1), float64(3), int64(1), object(8)
memory usage: 1009.2+ KB

###**All the coulmns are converted into required Data Types**

###Dropping unwanted columns in dataFrame

In [24]:
# Dropped 'Last Updated','Current Ver','Android Ver' columns from our data Framne 
playstore_df_new.drop(['Last Updated','Current Ver','Android Ver'], axis=1, inplace=True)

In [25]:
playstore_df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          10840 non-null  float64
 3   Reviews         10840 non-null  Int64
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  int64
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
dtypes: Int64(1), float64(3), int64(1), object(5)
memory usage: 942.1+ KB

In [26]:
playstore_df_new.describe()

             Rating       Reviews          Size      Installs         Price
count  10840.000000  1.084000e+04  9.145000e+03  1.084000e+04  10840.000000
mean       4.191757  4.441529e+05  2.165634e+06  1.546434e+07      1.027368
std        0.478907  2.927761e+06  2.247715e+06  8.502936e+07     15.949703
min        1.000000  0.000000e+00  8.500000e+03  0.000000e+00      0.000000
25%        4.100000  3.800000e+01  5.100000e+05  1.000000e+03      0.000000
50%        4.200000  2.094000e+03  1.300000e+06  1.000000e+05      0.000000
75%        4.500000  5.477550e+04  3.000000e+06  5.000000e+06      0.000000
max        5.000000  7.815831e+07  1.000000e+07  1.000000e+09    400.000000